.how {
    width: 100%;
    margin-top: 190px;
    &__item {
        padding: 30px;
        width: 360px;
        height: 242px;
        background: #ffffff;
        border: 1px solid #eaeaea;
    }
    &__header {
        display: flex;
    }
    &__step,
    &__name {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #333333;
    }
    &__descr {
        margin-top: 40px;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #333333;
    }
}
